.navbar .h-free-shipping {
  display: none;
}

header .navbar.sub-navbar .controls a {
  padding-top: 5px;
  width: auto;
}

header .navbar.sub-navbar .controls a, header .navbar.sub-navbar .controls a:last-child {
  border: none;
}